body{
    background-color: white; 
}
h1{
text-align: center;
background-color: white;
padding: 10px 0px;
font-family: font-family: 'Crete Round', serif;


}
.container{
    width: 1170px;
    margin: 0;
}
.box{
    float: left;
}